.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/build/classes/test/pl/pft/addressbook/GroupCreationTests.class
*.class
*.idx
addressbook-web-tests/build/test-results/test/binary/output.bin
*.bin
*.xml
*.iml
*.iml
