.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/build/classes/test/pl/pft/addressbook/GroupCreationTests.class
*.class
*.idx
addressbook-web-tests/build/test-results/test/binary/output.bin
*.bin
*.iml
*.iml
.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
.idea/libraries/Gradle__com_fasterxml_classmate_1_3_0.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_0.xml
.idea/libraries/Gradle__dom4j_dom4j_1_6_1.xml
.idea/libraries/Gradle__mysql_mysql_connector_java_8_0_7_dmr.xml
.idea/libraries/Gradle__org_hibernate_hibernate_core_5_2_10_Final.xml
.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
.idea/libraries/Gradle__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Gradle__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_1_Final.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Gradle__org_jboss_jandex_2_0_3_Final.xml
.idea/libraries/Gradle__org_javassist_javassist_3_20_0_GA.xml
